*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #eee;
}

/* Layout */
.app {
  min-height: 100vh;
  background: url('/images/bg_texture.png');
}

.header {
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.home-link {
  display: inline-block;
}

.home-link,
.home-link:hover {
  color: inherit;
}

.app-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.title-chunk {
  color: #ffeb3b;
}

@media (max-width: 575.98px) {
  .app-title {
    font-size: 2rem;
  }
}

/* Pagination */
.pagination {
  justify-content: flex-end;
  align-items: center;
  color: #bdbdbd;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.pagination li:hover {
  color: #fff;
}

.pagination li.active-page:hover,
.active-page {
  color: #ffeb3b;
}

.pagination li a {
  padding: 0.5rem 0.75rem;
}

.page-link {
  background-color: initial;
  border: none;
}

.page-link:hover {
  background-color: initial;
  border: none;
}

.page-link:active,
.page-link:focus {
  box-shadow: none;
  outline: auto;
  outline-width: 1px;
  outline-color: #101010;
}

.left-arrow {
  margin-right: 0.5rem;
}

.right-arrow {
  margin-left: 0.5rem;
}

.left-arrow.disabled a,
.left-arrow.disabled a:hover,
.left-arrow.disabled a:focus,
.right-arrow.disabled a,
.right-arrow.disabled a:hover,
.right-arrow.disabled a:focus {
  pointer-events: none;
  color: #424242;
  outline: none;
}

@media (max-width: 575.98px) {
  .pagination {
    justify-content: center;
    font-size: 0.9rem;
  }

  .pagination li a {
    padding: 0 0.3rem;
  }

  .left-arrow,
  .right-arrow {
    margin: 0;
  }
}

/* MoviesList */
.movie-card {
  position: relative;
  text-align: center;
}

.movie-card a {
  display: inline-block;
}

.movie-card-title,
.movie-card-year {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.movie-card-title {
  color: #e0e0e0;
  line-height: 1.2;
}

.movie-card-year {
  color: #9e9e9e;
}

.hd-badge {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.1rem 0.4rem;
  text-transform: uppercase;
  background-color: #ff4500;
}

.poster {
  width: 100%;
  margin-bottom: 0.2rem;
}

.poster-hover:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 15px 3px black;
}

/* MovieOverview */
.movie {
  position: relative;
  font-size: 1.1rem;
}

.movie h2,
.movie h3 {
  margin: 0;
  font-size: 1rem;
}

.movie h2 {
  margin-bottom: 0.3rem;
  line-height: 1.5;
}

.movie h3 {
  color: #9e9e9e;
}

.movie-details {
  padding: 1rem 0;
}

.movie-details div {
  margin-bottom: 0.5rem;
}

.movie-details div:last-of-type {
  margin-bottom: 0;
}

.movie-details div span {
  color: #9e9e9e;
}

@media (max-width: 991.98px) {
  .movie {
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {
  .movie {
    text-align: center;
    margin-bottom: 1rem;
  }

  .movie-details {
    font-size: 0.9rem;
  }
}